<nav>
   <div class="nav-wrapper grey">
     <a href="#" class="brand-logo center hide-on-med-and-down">Parties </a>
     <ul id="nav-mobile" class="left">
       <li><%= link_to "Orders", orders_path %></a></li>
       <li><%= link_to "Create Party", new_party_path %></a></li>
     </ul>
   </div>
 </nav>
<br>

<div class="row">
  <div class="col s12">
 <% @parties.each do |party| %>
  <ul>
    <li>
      <h5> Party Number: <%= party.number %> </h5>
    </li>
      <% party.foods.each do |food| %>
      <li>Menu Item: <%= food.name %> - Price: <%= '%.2f' % food.cost %></li>
      <% end %>
      <li>
        Order Total: <%= '%.2f' % party.total %>
        <br> Tax: <%= '%.2f' % (party.total * 0.09) %>
        <br> Sub-Total: <%= '%.2f' % (party.total + (party.total * 0.09)) %>
        <br> With 15% gratuity: <%= '%.2f' % (party.total + (party.total * 0.15) + (party.total * 0.09)) %>
        <br> With 20% gratuity: <%= '%.2f' % (party.total + (party.total * 0.20) + (party.total * 0.09)) %>
        <br> With 25% gratuity: <%= '%.2f' % (party.total + (party.total * 0.25) + (party.total * 0.09)) %>
      </li>
    </ul>
  <% end %>
   </div>
  </div>
</div>
