<nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo center">Create New Party</a>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li><%= link_to "Parties", parties_path %></a></li>
     </ul>
   </div>
 </nav>

<%= form_for @party do |f| %>
<%= f.label :number %>
<%= f.number_field :number %>
<%= f.submit %>
<% end %>
