<nav>
   <div class="nav-wrapper grey">
     <a href="#" class="brand-logo center hide-on-med-and-down">Admin Login</a>
     <ul id="nav-mobile" class="left">
       <li><%= link_to "Menu Items", foods_path %></a></li>
       <li><%= link_to "Orders", orders_path %></a></li>
     </ul>
   </div>
 </nav>

<%= form_tag sessions_path do %>
  <%= label_tag(:name, "name") %>
  <%= text_field_tag :name %>
  <%= label_tag(:password, "password") %>
  <%= password_field_tag :password %>
  <%= submit_tag "LogIn" %>
<% end %>
