<nav>
   <div class="nav-wrapper grey">
     <a href="#" class="brand-logo center hide-on-med-and-down">Edit Order</a>
     <ul id="nav-mobile" class="left">
       <li><%= link_to "Orders", orders_path %></a></li>
     </ul>
   </div>
 </nav>


<ul>
<%= form_for @order do |f| %>
  <%= f.label :number %>
  <%= f.number_field :number %>
  <%= f.label :food %>
  <%= f.collection_select(:food_id, Food.all, :id, :name, {prompt: "Select Food"}, class: "browser-default" ) %>
  <%= f.label :party %>
  <%= f.collection_select(:party_id, Party.all, :id, :number, {prompt: "Select Party"}, class: "browser-default" ) %>
  <%= f.submit %>
<% end %>
</ul>
