<h2>Orders Menu</h2>

<div class="row">
<%= button_to "Create Orders", new_order_path, method: :get %>
<%= button_to "Admin Menu Options ", foods_path, method: :get %>
</div>



<div class="row">
<h4>Outstanding Orders</h4>
  <ul>
  <% @orders.each do |order| %>
    <li>
    <strong>Order #:</strong><%= order.number %> -
    <strong>Cuisine: </strong><%= order.food.cuisine %> -
    <strong>Menu Item: </strong><%= order.food.name %> -
    <strong>For Table: </strong><%= order.party.number %> -
    <strong>Total $: </strong><%= order.food.cost %> <br>
    <%= button_to "Remove", order_path(order), method: :delete%>
    </li>
  <% end %>
  </ul>
<div class="row">
