<h2>Create your Orders!</h2>

<h3>Orders List</h3>
  <ul>
  <% @orders.each do |order| %>
    <li>

      <strong>Order</strong>
    <%= order.party.number %> wants
    <%= order.food.name %>
    <%= order.is_fulfilled %> <%= button_to "Remove", order_path, method: :delete %>
    </li>
  <% end %>
  </ul>

  <%= button_to "Remove", order_path(order), method: :delete%>
