<h2>Create a new Order</h2>

<!-- Ok but you really need selectors because this way you need to select parties and foods by id number
and if you select the wrong one it will break.  You need a drop down menu selectors of all of your foods and all of your
parties
-->
<%= form_for @order do |f| %>
  <%= f.label :number %>
  <%= f.number_field :number %>
  <%= f.label :food %>
  <%= f.collection_select(:food_id, Food.all, :id, :name) %>
  <%= f.label :party %>
  <%= f.collection_select(:party_id, Party.all, :id, :number) %>
  <%= f.submit %>
<% end %>
