<h3>Foods List</h3>

<%= button_to "Back to Orders", orders_path, method: :get %>

  <ul>
  <% @foods.each do |food| %>
    <li>
      <strong>Cuisine: </strong><%= food.cuisine %>,
      <strong>Name: </strong><%= food.name %> ,
      <strong>Cost: </strong><%= food.cost %>,
      <%= button_to "Remove", food_path(food), method: :delete %>
    </li>
  <% end %>
  </ul>

<%= button_to "Log-Out", sessions_path, method: :delete %>
