<!-- <%= button_to "Back to Orders", orders_path, method: :get, class: 'waves-effect waves-light red btn-large' %></li> -->
<!-- <%= button_to "Admin Menu Options ", foods_path, method: :get, class: 'waves-effect waves-light red btn-large' %></li> -->
<nav>
   <div class="nav-wrapper grey">
     <a href="#" class="brand-logo center left hide-on-med-and-down">New Menu Item</a>
     <ul id="nav-mobile" class="left">
       <li><%= link_to "Menu Items", foods_path %></a></li>
     </ul>
   </div>
 </nav>

<div class="row">

  <%= form_for @food do |f| %>
  <%= f.label :cuisine %>
  <%= f.text_field :cuisine %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :cost %>
  <%= f.number_field :cost, :step => 'any' %><br>
  <%= f.submit %>
  <% end %>

</div>
